# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
/svn-repository/
/demo-data/
/includes/elementor/assets/admin/js/library/node_modules/
/elementor-demo-data/

# Grunt
/node_modules/

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db