html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.yte-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .yte-container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .yte-container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .yte-container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .yte-container {
        max-width: 1140px
    }
}

.yte-container-fluid,
.yte-container-lg,
.yte-container-md,
.yte-container-sm,
.yte-container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {

    .yte-container,
    .yte-container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .yte-container,
    .yte-container-md,
    .yte-container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .yte-container,
    .yte-container-lg,
    .yte-container-md,
    .yte-container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .yte-container,
    .yte-container-lg,
    .yte-container-md,
    .yte-container-sm,
    .yte-container-xl {
        max-width: 1140px
    }
}

.yte-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.yte-no-gutters {
    margin-right: 0;
    margin-left: 0
}

.yte-no-gutters>.yte-col,
.yte-no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.yte-col,
.yte-col-1,
.yte-col-10,
.yte-col-11,
.yte-col-12,
.yte-col-2,
.yte-col-3,
.yte-col-4,
.yte-col-5,
.yte-col-6,
.yte-col-7,
.yte-col-8,
.yte-col-9,
.yte-col-auto,
.yte-col-lg,
.yte-col-lg-1,
.yte-col-lg-10,
.yte-col-lg-11,
.yte-col-lg-12,
.yte-col-lg-2,
.yte-col-lg-3,
.yte-col-lg-4,
.yte-col-lg-5,
.yte-col-lg-6,
.yte-col-lg-7,
.yte-col-lg-8,
.yte-col-lg-9,
.yte-col-lg-auto,
.yte-col-md,
.yte-col-md-1,
.yte-col-md-10,
.yte-col-md-11,
.yte-col-md-12,
.yte-col-md-2,
.yte-col-md-3,
.yte-col-md-4,
.yte-col-md-5,
.yte-col-md-6,
.yte-col-md-7,
.yte-col-md-8,
.yte-col-md-9,
.yte-col-md-auto,
.yte-col-sm,
.yte-col-sm-1,
.yte-col-sm-10,
.yte-col-sm-11,
.yte-col-sm-12,
.yte-col-sm-2,
.yte-col-sm-3,
.yte-col-sm-4,
.yte-col-sm-5,
.yte-col-sm-6,
.yte-col-sm-7,
.yte-col-sm-8,
.yte-col-sm-9,
.yte-col-sm-auto,
.yte-col-xl,
.yte-col-xl-1,
.yte-col-xl-10,
.yte-col-xl-11,
.yte-col-xl-12,
.yte-col-xl-2,
.yte-col-xl-3,
.yte-col-xl-4,
.yte-col-xl-5,
.yte-col-xl-6,
.yte-col-xl-7,
.yte-col-xl-8,
.yte-col-xl-9,
.yte-col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.yte-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-gyte-row: 1;
    max-width: 100%
}

.yte-row-cols-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.yte-row-cols-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.yte-row-cols-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.yte-row-cols-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.yte-row-cols-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.yte-row-cols-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.yte-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.yte-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.yte-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.yte-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.yte-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.yte-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.yte-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.yte-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.yte-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.yte-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.yte-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.yte-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.yte-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width:576px) {
    .yte-col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-gyte-row: 1;
        max-width: 100%
    }

    .yte-row-cols-sm-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .yte-row-cols-sm-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-row-cols-sm-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-row-cols-sm-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-row-cols-sm-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .yte-row-cols-sm-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .yte-col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .yte-col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .yte-col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .yte-col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .yte-col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .yte-col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .yte-col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .yte-col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:768px) {
    .yte-col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-gyte-row: 1;
        max-width: 100%
    }

    .yte-row-cols-md-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .yte-row-cols-md-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-row-cols-md-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-row-cols-md-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-row-cols-md-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .yte-row-cols-md-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .yte-col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .yte-col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .yte-col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .yte-col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .yte-col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .yte-col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .yte-col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .yte-col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:992px) {
    .yte-col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-gyte-row: 1;
        max-width: 100%
    }

    .yte-row-cols-lg-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .yte-row-cols-lg-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-row-cols-lg-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-row-cols-lg-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-row-cols-lg-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .yte-row-cols-lg-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .yte-col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .yte-col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .yte-col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .yte-col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .yte-col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .yte-col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .yte-col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .yte-col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:1200px) {
    .yte-col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-gyte-row: 1;
        max-width: 100%
    }

    .yte-row-cols-xl-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .yte-row-cols-xl-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-row-cols-xl-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-row-cols-xl-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-row-cols-xl-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .yte-row-cols-xl-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .yte-col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .yte-col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .yte-col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .yte-col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .yte-col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .yte-col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .yte-col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .yte-col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .yte-col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .yte-col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .yte-col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .yte-col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.yte-d-none {
    display: none !important
}

.yte-d-inline {
    display: inline !important
}

.yte-d-inline-block {
    display: inline-block !important
}

.yte-d-block {
    display: block !important
}

.yte-d-table {
    display: table !important
}

.yte-d-table-yte-row {
    display: table-yte-row !important
}

.yte-d-table-cell {
    display: table-cell !important
}

.yte-d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}

.yte-d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important
}

@media (min-width:576px) {
    .yte-d-sm-none {
        display: none !important
    }

    .yte-d-sm-inline {
        display: inline !important
    }

    .yte-d-sm-inline-block {
        display: inline-block !important
    }

    .yte-d-sm-block {
        display: block !important
    }

    .yte-d-sm-table {
        display: table !important
    }

    .yte-d-sm-table-yte-row {
        display: table-yte-row !important
    }

    .yte-d-sm-table-cell {
        display: table-cell !important
    }

    .yte-d-sm-flex {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .yte-d-sm-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media (min-width:768px) {
    .yte-d-md-d-none {
        display: none !important
    }

    .yte-d-md-d-inline {
        display: inline !important
    }

    .yte-d-md-d-inline-block {
        display: inline-block !important
    }

    .yte-d-md-block {
        display: block !important
    }

    .yte-d-md-d-table {
        display: table !important
    }

    .yte-d-md-d-table-yte-row {
        display: table-yte-row !important
    }

    .yte-d-md-d-table-cell {
        display: table-cell !important
    }

    .yte-d-md-flex {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .yte-d-md-d-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media (min-width:992px) {
    .yte-d-lg-none {
        display: none !important
    }

    .yte-d-lg-inline {
        display: inline !important
    }

    .yte-d-lg-inline-block {
        display: inline-block !important
    }

    .yte-d-lg-block {
        display: block !important
    }

    .yte-d-lg-table {
        display: table !important
    }

    .yte-d-lg-table-yte-row {
        display: table-yte-row !important
    }

    .yte-d-lg-table-cell {
        display: table-cell !important
    }

    .yte-d-lg-flex {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .yte-d-lg-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media (min-width:1200px) {
    .yte-d-xl-none {
        display: none !important
    }

    .yte-d-xl-inline {
        display: inline !important
    }

    .yte-d-xl-inline-block {
        display: inline-block !important
    }

    .yte-d-xl-block {
        display: block !important
    }

    .yte-d-xl-table {
        display: table !important
    }

    .yte-d-xl-table-yte-row {
        display: table-yte-row !important
    }

    .yte-d-xl-table-cell {
        display: table-cell !important
    }

    .yte-d-xl-flex {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .yte-d-xl-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

.yte-flex-yte-row {
    -ms-flex-direction: yte-row !important;
    flex-direction: yte-row !important
}

.yte-flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.yte-flex-yte-row-reverse {
    -ms-flex-direction: yte-row-reverse !important;
    flex-direction: yte-row-reverse !important
}

.yte-flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important
}

.yte-flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important
}

.yte-flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important
}

.yte-flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important
}

.yte-flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important
}

.yte-flex-gyte-row-0 {
    -ms-flex-positive: 0 !important;
    flex-gyte-row: 0 !important
}

.yte-flex-gyte-row-1 {
    -ms-flex-positive: 1 !important;
    flex-gyte-row: 1 !important
}

.yte-flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important
}

.yte-flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important
}

.yte-justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important
}

.yte-justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}

.yte-justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.yte-justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.yte-justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important
}

.yte-align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

.yte-align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important
}

.yte-align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.yte-align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important
}

.yte-align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important
}

.yte-align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important
}

.yte-align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important
}

.yte-align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important
}

.yte-align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important
}

.yte-align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important
}

.yte-align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important
}

.yte-align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important
}

.yte-align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important
}

.yte-align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important
}

.yte-align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important
}

.yte-align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important
}

.yte-align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important
}

@media (min-width:576px) {
    .yte-flex-sm-yte-row {
        -ms-flex-direction: yte-row !important;
        flex-direction: yte-row !important
    }

    .yte-flex-sm-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .yte-flex-sm-yte-row-reverse {
        -ms-flex-direction: yte-row-reverse !important;
        flex-direction: yte-row-reverse !important
    }

    .yte-flex-sm-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .yte-flex-sm-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .yte-flex-sm-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .yte-flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .yte-flex-sm-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .yte-flex-sm-gyte-row-0 {
        -ms-flex-positive: 0 !important;
        flex-gyte-row: 0 !important
    }

    .yte-flex-sm-gyte-row-1 {
        -ms-flex-positive: 1 !important;
        flex-gyte-row: 1 !important
    }

    .yte-flex-sm-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .yte-flex-sm-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .yte-justify-content-sm-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .yte-justify-content-sm-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .yte-justify-content-sm-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .yte-justify-content-sm-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .yte-justify-content-sm-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .yte-align-items-sm-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .yte-align-items-sm-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .yte-align-items-sm-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .yte-align-items-sm-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .yte-align-items-sm-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .yte-align-content-sm-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .yte-align-content-sm-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .yte-align-content-sm-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .yte-align-content-sm-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .yte-align-content-sm-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .yte-align-content-sm-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .yte-align-self-sm-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .yte-align-self-sm-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .yte-align-self-sm-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .yte-align-self-sm-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .yte-align-self-sm-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .yte-align-self-sm-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media (min-width:768px) {
    .yte-flex-md-yte-row {
        -ms-flex-direction: yte-row !important;
        flex-direction: yte-row !important
    }

    .yte-flex-md-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .yte-flex-md-yte-row-reverse {
        -ms-flex-direction: yte-row-reverse !important;
        flex-direction: yte-row-reverse !important
    }

    .yte-flex-md-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .yte-flex-md-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .yte-flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .yte-flex-md-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .yte-flex-md-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .yte-flex-md-gyte-row-0 {
        -ms-flex-positive: 0 !important;
        flex-gyte-row: 0 !important
    }

    .yte-flex-md-gyte-row-1 {
        -ms-flex-positive: 1 !important;
        flex-gyte-row: 1 !important
    }

    .yte-flex-md-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .yte-flex-md-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .yte-justify-content-md-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .yte-justify-content-md-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .yte-justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .yte-justify-content-md-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .yte-justify-content-md-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .yte-align-items-md-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .yte-align-items-md-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .yte-align-items-md-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .yte-align-items-md-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .yte-align-items-md-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .yte-align-content-md-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .yte-align-content-md-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .yte-align-content-md-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .yte-align-content-md-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .yte-align-content-md-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .yte-align-content-md-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .yte-align-self-md-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .yte-align-self-md-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .yte-align-self-md-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .yte-align-self-md-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .yte-align-self-md-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .yte-align-self-md-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media (min-width:992px) {
    .yte-flex-lg-yte-row {
        -ms-flex-direction: yte-row !important;
        flex-direction: yte-row !important
    }

    .yte-flex-lg-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .yte-flex-lg-yte-row-reverse {
        -ms-flex-direction: yte-row-reverse !important;
        flex-direction: yte-row-reverse !important
    }

    .yte-flex-lg-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .yte-flex-lg-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .yte-flex-lg-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .yte-flex-lg-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .yte-flex-lg-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .yte-flex-lg-gyte-row-0 {
        -ms-flex-positive: 0 !important;
        flex-gyte-row: 0 !important
    }

    .yte-flex-lg-gyte-row-1 {
        -ms-flex-positive: 1 !important;
        flex-gyte-row: 1 !important
    }

    .yte-flex-lg-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .yte-flex-lg-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .yte-justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .yte-justify-content-lg-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .yte-justify-content-lg-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .yte-justify-content-lg-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .yte-justify-content-lg-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .yte-align-items-lg-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .yte-align-items-lg-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .yte-align-items-lg-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .yte-align-items-lg-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .yte-align-items-lg-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .yte-align-content-lg-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .yte-align-content-lg-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .yte-align-content-lg-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .yte-align-content-lg-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .yte-align-content-lg-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .yte-align-content-lg-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .yte-align-self-lg-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .yte-align-self-lg-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .yte-align-self-lg-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .yte-align-self-lg-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .yte-align-self-lg-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .yte-align-self-lg-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media (min-width:1200px) {
    .yte-flex-xl-yte-row {
        -ms-flex-direction: yte-row !important;
        flex-direction: yte-row !important
    }

    .yte-flex-xl-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .yte-flex-xl-yte-row-reverse {
        -ms-flex-direction: yte-row-reverse !important;
        flex-direction: yte-row-reverse !important
    }

    .yte-flex-xl-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .yte-flex-xl-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .yte-flex-xl-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .yte-flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .yte-flex-xl-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .yte-flex-xl-gyte-row-0 {
        -ms-flex-positive: 0 !important;
        flex-gyte-row: 0 !important
    }

    .yte-flex-xl-gyte-row-1 {
        -ms-flex-positive: 1 !important;
        flex-gyte-row: 1 !important
    }

    .yte-flex-xl-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .yte-flex-xl-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .yte-justify-content-xl-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .yte-justify-content-xl-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .yte-justify-content-xl-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .yte-justify-content-xl-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .yte-justify-content-xl-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .yte-align-items-xl-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .yte-align-items-xl-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .yte-align-items-xl-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .yte-align-items-xl-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .yte-align-items-xl-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .yte-align-content-xl-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .yte-align-content-xl-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .yte-align-content-xl-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .yte-align-content-xl-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .yte-align-content-xl-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .yte-align-content-xl-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .yte-align-self-xl-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .yte-align-self-xl-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .yte-align-self-xl-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .yte-align-self-xl-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .yte-align-self-xl-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .yte-align-self-xl-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}